{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiregen.ai</title>
    <link rel="stylesheet" href="{% static './styles/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './styles/styles.css' %}">
    <link rel="stylesheet" href="{% static './styles/fontawesome.min.css' %}">
    <style>
        /* Add styles for the message container */
        .message-container {
            display: inline-block; /* Make the box width fit the text */
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid red;
            background-color: #ffdddd;
            color: red;
            text-align: center; /* Align text to center */
        }

        /* Center the message container */
        .message-wrapper {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="preloader">
        <div class="main-page">
            <div class="loader">
                <div class="spin-blend"></div>
                <div class="spin-blend"></div>
                <div class="spin-blend"></div>
                <div class="spin-blend"></div>
                <div class="spin-blend"></div>
            </div>
            <div class="loading-text">
                <div class="letter">L</div>
                <div class="letter">o</div>
                <div class="letter">a</div>
                <div class="letter">d</div>
                <div class="letter">i</div>
                <div class="letter">n</div>
                <div class="letter">g</div>
                <div class="letter">.</div>
                <div class="letter">.</div>
                <div class="letter">.</div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark background-dark p-0">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static './images/logo-hiregen.png' %}" width="125px" alt="" class="logo">
            </a>

            <div class="ms-auto">
                <div class="member-login">
                    <div class="info-member">
                        <div class="dropdown">
                            <a class="text-white profile-letter-bg " id="dropdownProfile" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false" style="background-color: {{ request.session.profile_color }};" data-bs-display="static"   ><span >{{ user_email|default:"N/A"|first|upper }}</span></a>
                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end ps-2 pe-2"
                                aria-labelledby="dropdownProfile">
                                <li class="email-li ">
                                {% if user_email %}
                                    <p class="text-center navbar-email m-0">{{ request.session.user_email }}</p>
                                {% else %}
                                    <p class="text-center navbar-email m-0">Not Register</p>
                                {% endif %}
                                    
                                </li>
                                <li><a class="dropdown-item navbar-dropdown" href="" data-bs-toggle="modal" data-bs-target="#exampleModal2">Resume Generator</a></li>
                                <li><a class="dropdown-item navbar-dropdown" href="#"  id="logout-link">Logout</a></li>
                                {% comment %} <li><a class="dropdown-item navbar-dropdown" href="{% url 'delete_account' %}">Logout</a></li> {% endcomment %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1> -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center vertical-center-content">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{% static './images/getty_533666973_97889.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <div id="resumeInput">
                                <form id="generateForm" action="{% url 'generate_resume' %}" method="post" >
                                    {% csrf_token %}
                                    <!-- <textarea name="" id="" cols="" rows="3" class="form-control" placeholder="Tell Something About yourself to generate resume"></textarea> -->
                                    <div class="row">
                                        <div class="col-md-6 gen-form-input">
                                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                                        </div>
                                        <div class="col-md-6 gen-form-input">
                                            <input type="text" name="phone" class="form-control" placeholder="Mobile Number" required>
                                        </div>
                                        <div class="col-md-6 gen-form-input">
                                            <input type="text" name="email" class="form-control" placeholder="Email" required>
                                        </div>
                                        <div class="col-md-6 gen-form-input">
                                            <input type="text" name="qualification" class="form-control" placeholder="Qualification" required>
                                        </div>  
                                        <div class="col-md-6 gen-form-input">
                                            <input type="text" name="skills" class="form-control" placeholder="Skills" required>
                                        </div>
                                        <div class="col-md-6 gen-form-input">
                                            <input type="text" name="experience" class="form-control" placeholder="Experience with dates" required>
                                        </div>
                                        <div class="col-md-6 gen-form-input">
                                            <input type="text" name="project" class="form-control" placeholder="Projects with comma separated" required>
                                        </div>
                                        <div class="col-md-6 gen-form-input">
                                            <input type="text" name="currentcompany" class="form-control" placeholder="Current Company" required>
                                        </div>
                                        <div class="col-md-6 gen-form-input">
                                            <input type="text" name="previouslycompany" class="form-control" placeholder="Previous Company" required>
                                        </div>
                                        <div class="col-md-6 gen-form-input">
                                            <input type="text" name="professional" class="form-control" placeholder="Designation" required>
                                        </div>
                                    </div>
                                    <button id="generateButton" class="modal-btn" onsubmit="forredirecting()" type="submit">Generate</button>
                                    <!-- <button class="modal-btn" onclick="redirectToJobseeker()" type="button">Download</button> -->
                                </form>
                               
                            </div>
                            <div id="resume-view-download" style="display: none;">
                                <p>Preview or download your resume</p>
                                <button id="previewButton" class="modal-btn" onclick="previewOrDownload('preview')" target="_blank" type="button">Preview</button>
                                <button id="downloadButton" class="modal-btn" onclick="previewOrDownload('download')" type="button">Download</button>
                                <div class="next-btn">
                                   <a href="{% url 'jobseeker' %}" class="modal-btn">Next</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <section class=""> -->
    <div class="container content-bg mt-2 p-20 jobseeker-text">
        <main>

            <div class="content" style="overflow-x: hidden;">
                <!-- <div> -->
                    
                    <div class="p-2 item2-gl-nav d-sm-flex d-inline-block">
                        <ul class="nav nav-pills ms-auto" id="pills-tab" role="tablist" aria-orientation="vertical">
                            <li class="nav-item p-0" role="presentation">
                                <a class="nav-link b-0 fs-18 active" id="pills-list-tab" data-bs-toggle="pill"
                                    href="#pills-list" role="tab" aria-controls="pills-list" aria-selected="true">
                                    <i class="fa fa-list me-0"></i>
                                </a>
                            </li>
                            <li class="nav-item p-0" role="presentation">
                                <a class="nav-link b-0 fs-18 grid-color" id="pills-grid-tab" data-bs-toggle="pill"
                                    href="#pills-grid" role="tab" aria-controls="pills-grid" aria-selected="false"
                                    tabindex="-1">
                                    <i class="fa fa-th me-0"></i>
                                </a>
                            </li>

                        </ul>
                    </div>


                    <div class="tab-content " id="pills-tab-content">
                        <div class="tab-pane fade active show" id="pills-list" role="tabpanel"
                            aria-labelledby="pills-list-tab">
                            {% if results %}
                                {% for result in results %}
                            <div class="inner-content">
                                <div class="row">
                                    <div class="col-md-9">
                                        <p><strong>Job Title: </strong>{{result.0}}</p>
                                        <p><strong>Company: </strong>{{result.1}}</p>
                                        <p><strong>Location: </strong>{{result.2}}</p>
                                        <p><strong>Qualification: </strong>{{result.3}}</p>
                                    </div>
                                    <div class="col-md-3">
                                        <button class="apply-btn"><a href="{{result.4}}" target='_blank'>Apply</a></button>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="tab-pane fade " id="pills-grid" role="tabpanel" aria-labelledby="pills-grid-tab">
                            <div class="row">
                                {% if results %}
                                    {% for result in results %}
                                    <div class=" col-md-4"> 
                                        <div class="inner-content inner-max-height" style="transition: all ease 0.2s;">
                                            <p><strong>Job Title: </strong>{{result.0}}</p>
                                            <p><strong>Company: </strong>{{result.1}}</p>
                                            <p><strong>Location: </strong>{{result.2}}</p>
                                            <p><strong>Qualification: </strong>{{result.3}}</p>
                                            <div class="apply-btn-pos">
                                                <button class="apply-btn"><a href="{{result.4}}" target='_blank'>Apply</a></button>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            
                        </div>
                    </div>
                <!-- </div> -->
                    </div>
                <!-- </div>

            </div> -->
            <!-- compaact start -->
            <div class="input-text-area compact-view">
                <form action="{% url 'jobseeker' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-area d-flex ">
                        <div class="me-2 flex-order1">
                            <div class="social-media-container classic-view-btn">
                                <a class="classic soc ial google" type="button" href="{% url 'jobseeker_classic' %}">
                                    <i class="fa-solid fa-up-down-left-right"></i>
                                    <span class="tool-tip">Classic View</span>
                                </a>
                            </div>
                        </div>
                        <div class="upload-btn flex-order2" id="upload-btn1">
                            <div class="social-media-container classic-view-btn" onclick="toggleUploadField()">
                                <button class="classic soc ial google" type="button" on>
                                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                                    <span class="tool-tip">Upload</span>
                                </button>
                            </div>
                            <div class="upload-field1 upload-field" id="uploadField">
                                <div class="input-group">
                                    <input type="file" name="docx_file" value="{{docx_file}}" class="form-control" id="inputGroupFile01">
                                </div>
                            </div>
                        </div>
                        <div class="textarea-div flex-order3">
                            <textarea id="speech-output" name="search_query" value="{{search_query}}" id="" placeholder="Enter Job Title with the Location"
                                class="form-control textarea jobseekerCompact">{{search_query}}</textarea>
                                <button class="text-danger cancel-button" type="button" id="clearCompact">
                                    <i class="fa-solid fa-xmark"></i></button>
                        </div>
                        <div class="flex-order4">
                            <button  class="social-media-container"  id="click_to_convert" type="button">
                                <div class="mic-b utton mic1 social">
                                    <i class="fa-solid fa-microphone"></i>
                                </div>
                                <div class="mic-animations mic2" style="display: none;">
                                <div class="box box1">
                                    <div class="object">
                                        <div class="outline">
                                        </div>
                                        <div class="outline" id="delayed">
                                        </div>
                                        <div class="button1">
                                        </div>
                                        <div class="button1" id="circlein">
                                            <svg class="mic-icon" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000"
                                                xml:space="preserve" style="fill:#1E2D70">
                                                <g>
                                                    <path
                                                        d="M500,683.8c84.6,0,153.1-68.6,153.1-153.1V163.1C653.1,78.6,584.6,10,500,10c-84.6,0-153.1,68.6-153.1,153.1v367.5C346.9,615.2,415.4,683.8,500,683.8z M714.4,438.8v91.9C714.4,649,618.4,745,500,745c-118.4,0-214.4-96-214.4-214.4v-91.9h-61.3v91.9c0,141.9,107.2,258.7,245,273.9v124.2H346.9V990h306.3v-61.3H530.6V804.5c137.8-15.2,245-132.1,245-273.9v-91.9H714.4z" />
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </button>
                        </div>
                        <div class="flex-order5">
                            <div class="social-media-container">
                                <button class="classic submit-btn google" type="submit">
                                    <i class="fa-solid fa-arrow-right"></i>
                                    <span class="tool-tip">Submit</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- compact end -->

            <div class="theme-container shadow-dark"
                onclick="moon('linear-gradient(to right bottom, var(--blue-color), #409fbf)', '#000', '#192294', '#040404', '#222327', '#f3f6fc', '#c6c6c65e', '#4048bf66', '#4048bf', '#0F9D58', '-webkit-linear-gradient(90deg, hsl(0deg 0% 0%) 0%, hsl(0deg 0% 0%) 100%)', '#fff', '#eee', '#101010', '#6b7ae0f0', '#101010')"
                id="moon-icon">
                <img src="{% static './images/moon.svg' %}" alt="moon">
            </div>
            <div class="theme-container shadow-light"
                onclick="sun('linear-gradient(to right bottom, var(--blue-color), #409fbf)', '#fff', '#192294', '#ececec', '#f3f6fc', '#000', '#4048bf4d', '#4048bf66', '#4048bf', '#0F9D58','-webkit-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsl(241.85deg 100% 80.89%) 100%)', '#05264E', '#272a2b', '#f4f4f4c4', '#6b7ae0', '#f2f0fc')"
                id="sun-icon" style="display: none;">
                <img src="{% static './images/sun.svg' %}" alt="sun">
            </div>
            <div class="toast-container position-fixed top-0 end-0 p-3">
                {% if messages %}
                <div id="basicToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                  <!-- <div class="toast-header">
                    <h5 class="my-0">Join Our Company</h5>
                </div> -->
                {% for message in messages %}
                {% if message.tags %}
                <div class="toast-body">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn-close text-end" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                        <p>{{ message }}</p>
                    </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %} 
            </div>
        </main>
    </div>
    <div id="confirmation-modal" class="logoutc">
        <div class="modal-content-logoutc">
            <p>Are you sure you want to logout?</p>
            <button  class="btn btn-sm btn-secondary" id="cancel-button">Cancel</button>
            <button class="btn btn-sm btn-danger logoutp"><a href="{% url 'delete_account' %}" class="text-white" id="logout-button">Logout</a></button>
        </div>
    </div>
    
     
      


    <!-- <div class="message-wrapper">
        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% if message.tags %}
                        <p>{{ message }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div> -->
    
    

    <script src="{% static './js/bundle.min.js' %}"></script>
    <script src="{% static './js/font-awesome.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>

        function toggleUploadField() {
            var uploadField = document.getElementById('uploadField');
            //   uploadField.style.display= 'none';
            uploadField.style.display = uploadField.style.display === 'none' ? 'block' : 'none';
        }
    </script>
    <script src="{% static './js/themechanges.js' %}"></script>
    <script src="{% static './js/preloader.js' %}"></script>
    
    <script>
        $(document).ready(function () {
            $(".mic2").hide();
            $(".mic1").click(function () {
                $(".mic1").hide();
                $(".mic2").show();
            })
            $(".mic2").click(function () {
                $(".mic2").hide();
                $(".mic1").show();
            })

        })
    </script>
        <script>
            function forredirecting() {
                // window.location.href = "http://127.0.0.1:5501/jobseeker.html";
                document.getElementById('resumeInput').style.display = 'none';
                document.getElementById('resume-view-download').style.display = 'block';
            }
        
            document.getElementById('generateForm').addEventListener('submit', function(event) {
                var form = event.target;
                var formData = new FormData(form);
        
                // Check if form fields are empty
                if (!isFormValid(form)) {
                    event.preventDefault(); // Prevent form submission
                    return;
                }
        
                // Show the loader only during the form submission and the delay
                document.getElementById('preloader').style.display = 'block';
        
                // Delay for 5 seconds before refreshing the page
                setTimeout(function() {
                    // Hide the loader before redirecting
                    document.getElementById('preloader').style.display = 'none';
                    forredirecting(); // Call your function to show/hide elements
                }, 16000); // 5000 milliseconds = 5 seconds
            });
        
            function isFormValid(form) {
                var requiredFields = form.querySelectorAll('[required]');
                for (var i = 0; i < requiredFields.length; i++) {
                    if (!requiredFields[i].value) {
                        requiredFields[i].reportValidity(); // Show validation message
                        return false;
                    }
                }
                return true;
            }
        
        
            function previewOrDownload(action) {
                if (action === "preview") {
                    // Open the resume in a new tab for preview with a cache-busting parameter
                    const timestamp = new Date().getTime(); // Generate a timestamp for cache busting
                    window.open(`/preview_resume/?_=${timestamp}`, "_blank");
                } else if (action === "download") {
                    // Download the resume
                    window.location.href = "/download_resume/";
                }
            }
        </script>
    <!-- <script>
        $(document).ready(function () {
            $(".classic-view").hide();
            $(".compact-view-btn").click(function () {
                $(".classic-view").hide();
                $(".compact-view").show();
            })
            $(".classic-view-btn").click(function () {
                $(".compact-view").hide();
                $(".classic-view").show();
            })

        })
    </script> -->
    <script>
        $(".jobseekerCompact").keyup(function () {
            if ($(this).val()) {
                $("#clearCompact").show();
            }
            else {
                $("#clearCompact").hide();
            }
        });
        $("#clearCompact").click(function () {
            $(".jobseekerCompact").val('');
            $(this).hide();
        });
    </script>
</body>
<script>
    // JavaScript code for speech recognition
    {% comment %} document.querySelector('.submit-btn').style.display = 'none'; {% endcomment %}
  // JavaScript code for speech recognition
const speechOutput = document.querySelector('#speech-output');
const recognition = new webkitSpeechRecognition();

recognition.continuous = true;

let savedSpeech = '';
let timeoutID;

recognition.onresult = function (event) {
  let result = '';
  for (let i = event.resultIndex; i < event.results.length; i++) {
    result += event.results[i][0].transcript + ' ';
  }
  savedSpeech += result;
  speechOutput.value = savedSpeech.trim();

  clearTimeout(timeoutID);
  timeoutID = setTimeout(() => {
    console.log('Listening stopped...');
    recognition.stop();
  }, 5000);
};

const micButton = document.getElementById('click_to_convert');
micButton.addEventListener('click', function () {
  recognition.start();
});

const micAnimation = document.querySelector('.mic-animations');
recognition.onstart = function () {
  micAnimation.classList.remove('mic1');
  micAnimation.classList.add('mic2');
};

recognition.onend = function () {
  micAnimation.classList.remove('mic2');
  micAnimation.classList.add('mic1');
};

</script>
<script>
    const logoutLink = document.getElementById('logout-link');
    const confirmationModal = document.getElementById('confirmation-modal');
    const cancelButton = document.getElementById('cancel-button');
    const logoutButton = document.getElementById('logout-button');
    
    logoutLink.addEventListener('click', function(event) {
        event.preventDefault();
        confirmationModal.style.display = 'block';
    });
    
    cancelButton.addEventListener('click', function() {
        confirmationModal.style.display = 'none';
    });
</script>





</html>